@charset "utf-8";
@import "compass";
@import "grid";

$square_size: 250px;
$grid_size: $square_size * 3;

body {
  background-color: #eee;
  margin: 0 auto;
  width: $grid_size;
}


#grid {
  background-color: #222;
  height: $grid_size;
  position: relative;
  width: $grid_size;
  .character, .factoid {
    position: absolute;
  }
  .character {
    @include single-transition(all);
    background-color: #fff;
    color: #000;
    font-size: $square_size * 1.8;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    height: $square_size;
    line-height: 0.5;
    overflow: hidden;
    width: $square_size;
    z-index: 10;
  }
  .factoid {
    padding: 10px;
    height: $square_size - 20;
    width: $square_size - 20;
    z-index: 1;
    h3, p {
      color: #fff;
      margin-left: 10%;
      margin-right: 10%;
    }
    h3 { margin-top: 20%; }
    p {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

/* CHARACTER SQUARES */

#one { @include top-left; }
#two { @include top-center; }
#three { @include top-right; }
#four { @include center-left; }
#five { @include center-right; }
#six { @include bottom-left; }
#seven { @include bottom-center; }
#eight { @include bottom-right; }

/* FACTOID SQUARES */

#designed-by { @include center-center; }
#design-requirements { @include bottom-right; }
#helvetica-the-movie { @include top-right; }
#languages { @include bottom-left; }
#punctuation { @include center-right; }
#whats-neue { @include bottom-center; }
#widths-and-weights { @include center-left; }
#strokes { @include top-center; }

/* INDIVIDUAL CHARACTER CROPS */

@import "characters";