@charset "utf-8";
@import "compass";

$square_size: 150px;
$grid_size: $square_size * 3;

body {
  margin: 0 auto;
  width: $grid_size;
}


#grid {
  background-color: #333;
  height: $grid_size;
  position: relative;
  width: $grid_size;
  .character, .factoid {
    position: absolute;
  }
  .character {
    @include single-transition(all);
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #000;
    color: #fff;
    height: $square_size - 2;
    width: $square_size - 2;
    z-index: 10;
  }
  .factoid {
    padding: 10px;
    height: $square_size - 20;
    width: $square_size - 20;
    z-index: 1;
    p {
      color: #fff;
      margin-top: 30%;
      text-align: center;
    }
  }
}

/* CHARACTER SQUARES */

#one {
  top: 0;
  left: 0;
}

#two {
  top: 0;
  left: $square_size;
}

#three {
  top: 0;
  left: $square_size * 2;
}

#four {
  top: $square_size;
  left: 0;
}

#five {
  top: $square_size;
  left: $square_size * 2;
}

#six {
  top: $square_size * 2;
  left: 0;
}

#seven {
  top: $square_size * 2;
  left: $square_size;
}

#eight {
  top: $square_size * 2;
  left: $square_size * 2;
}

/* FACTOID SQUARES */

#made-in {
  top: 0;
  left: 0;
}