---
title: Helvetica Neue
---

<header>
  <h1>Helvetica Neue</h1>
  <ul>
    <li id="refresh">Refresh</li>
    <li id="normal">Normal</li>
    <li id="italic">Italic</li>
    <li id="bold">Bold</li>
    <li id="bolditalic">Bold Italic</li>
  </ul>
</header>


<div id="grid">
	<!-- stationary factoid squares -->
	<% data.factoids.each do |item| %>
		<div class="factoid" id="<%= item.id %>">
			<h3><%= item.name %></h3>
      <ul>
        <% item.fact.each do |f| %>
        <li><%= f %></li>
        <% end %>
      </ul>
		</div>
 	<% end %>
	<!-- movable character squares -->
	<div class="character" id="one">
		<div id="lowercase-a"></div>
	</div>
  <div class="character" id="two">
  	<div id="number-2"></div>
  </div>
  <div class="character" id="three">
  	<div id="symbol-ampersand"></div>
  </div>
  <div class="character" id="four">
  	<div id="lowercase-h"></div>
  </div>
  <div class="character" id="five">
  	<div id="uppercase-n"></div>
  </div>
  <div class="character" id="six">
  	<div id="symbol-leftbrace"></div>
  </div>
  <div class="character" id="seven">
  	<div id="uppercase-r"></div>
  </div>
  <div class="character" id="eight">
  	<div id="lowercase-y"></div>
  </div>
</div><!-- #grid -->