---
title: Typeface Grid Game
---

<h1>Typeface Grid Game</h1>

<button id="refresh" type="button">Refresh!</button>


<div id="grid">
	<!-- stationary factoid squares -->
	<% data.factoids.each do |item| %>
		<div class="factoid" id="<%= item.id %>">
			<h3><%= item.name %></h3>
			<p><%= item.fact %></p>
		</div>
 	<% end %>
	<!-- movable character squares -->
	<div class="character" id="one">
		<div id="lowercase-a"></div>
	</div>
  <div class="character" id="two">
  	<div id="number-2"></div>
  </div>
  <div class="character" id="three">
  	<div id="symbol-ampersand"></div>
  </div>
  <div class="character" id="four">
  	<div id="lowercase-h"></div>
  </div>
  <div class="character" id="five">
  	<div id="uppercase-n"></div>
  </div>
  <div class="character" id="six">
  	<div id="symbol-leftbrace"></div>
  </div>
  <div class="character" id="seven">
  	<div id="uppercase-r"></div>
  </div>
  <div class="character" id="eight">
  	<div id="lowercase-y"></div>
  </div>
</div><!-- #grid -->