---
title: Hello there!
---

<h1>Typeface Grid Game</h1>

<div id="grid">
	<div class="factoid" id="made-in">
		<p>Some country</p>
	</div>
	<!-- movable character squares -->
	<div class="character" id="one">A</div>
  <div class="character" id="two">B</div>
  <div class="character" id="three">C</div>
  <div class="character" id="four">D</div>
  <div class="character" id="five">E</div>
  <div class="character" id="six">F</div>
  <div class="character" id="seven">G</div>
  <div class="character" id="eight">H</div>
</div><!-- #grid -->

<script type="text/javascript">
	$(document).ready(function() {

		var square_size = 150;
		var grid_size = square_size * 3;
		var empty_top = square_size;
		var empty_left = square_size;

		function check_adjacency(et, el, tt, tl) {
			et = parseInt(et);
			el = parseInt(el);
			tt = parseInt(tt);
			tl = parseInt(tl);
			// same row and adjacent column
			if ((et === tt) && (el + square_size === tl || el - square_size === tl)) {
				return true;
			}
			// same column and adjacent row;
			if ((el === tl) && (et + square_size === tt || et - square_size === tt)) {
				return true;
			}
			else return false;
		}

    $(".character").click(function(event) {
    	// store location
      var temp_top = $(this).css("top");
      console.log("stored top = " + empty_top + ", top = " + temp_top);
      console.log("empty_top and temp_top: " + (empty_top === temp_top));
      var temp_left = $(this).css("left");
      console.log("stored left = " + empty_left + ", left = " + temp_left);
      console.log("empty_left and temp_left: " + (empty_left === temp_left));
      // do adjacency check
      // @todo: separate adjacency into different function
      // @todo: do actual adjacency check to fix inter-row/inter-col issues
      if (check_adjacency(empty_top, empty_left, temp_top, temp_left)) {
      	// move item
	      $(this).css("top", empty_top);
	      $(this).css("left", empty_left);
	      // reassign empty space
	      empty_top = temp_top;
	      empty_left = temp_left;
      }
      else {
      	console.log("nope");
      }
    });

	});
</script>